{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}

{% include "header.html.twig" %}

<div class="container">
    <!-- Example row of columns -->
    

    

    {% if avisJeu is empty %} {# Les avis d'un tulisateur #}
    <div class="row">
        <h1>Mes avis</h1>

        {% for message in app.flashes('success') %} {# Lors de la suppression d'un avis #}
        <div class="alert alert-success mt-3">
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('fail') %} {# Lors de la suppression d'un avis #}
        <div class="alert alert-alert mt-3">
            {{ message }}
        </div>
        {% endfor %}

        {% if avis.items is same as ([]) %}
            <p>Vous n'avez émis aucun avis</p>
        {% else %}
            {% for ligne in avis %}
            <div class="col-md-3 mt-3 border border-primary p-3 m-3">
                {# <a href= "{{app.request.uri ~ '/' ~ ligne.slug}}"><h2>{{ligne.title}}</h2></a>             #}
                <img src="{{'/' ~ ligne.jeu.image}}" alt="" width="150px" height="150px">
                <p> Commentaire : {{ligne.commentaire}} </p>
                <p> Note : {{ligne.note}} </p>
                {# <p> {{ligne.is_valid}} </p> #}
                <a href=" {{ path('avis.edit', {id: ligne.id}) }} " class="btn btn-info my-3">Modifier</a>
                <a href=" {{ path('avis.delete', {id: ligne.id}) }} " class="btn btn-info">Supprimer</a>
                
                <a href=" {{ path('add_favori', {slug: ligne.jeu.slug}) }} " class="btn btn-info mt-3">Ajouter au favori</a>
            </div>
            {% endfor %}

            <div class="navigation d-flex justify-content-center mt-3">
                {{ knp_pagination_render(avis) }}
            </div>
        {% endif %}    
    </div>

    {% else %}

{#         <div class="row"> #}
        <h1>Tous les avis sur {{ avisJeu }}</h1>

        {% if avis.items is same as ([]) %}

            <p>Aucun avis émis</p>

        {% else %}

            <img src="{{'/' ~ avis.0.jeu.image}}" alt="" width="150px" height="150px">

            <table class="table table-striped">                
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Utilisateur</th>
                        <th scope="col">Commentaire</th>
                        <th scope="col">Note</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, value in avis %}            
                    <tr> 
                        <th scope="row">{{value.utilisateur}} </th> 
                        <td>{{value.commentaire}}</td>
                        <td>{{value.note}}</td>
                    </tr>  
                {% endfor %}
                    </tr>
                        <th scope="row" colspan= "3" class='text-end'> Moyenne : {{ moy }} </td>
                    </tr>
                </tbody>
            </table>

        <div class="navigation d-flex justify-content-center mt-3">
            {{ knp_pagination_render(avis) }}
        </div>
        {% endif %}    

    {% endif %}

        

    <hr>

    </div> <!-- /container -->


{% include "footer.html.twig" %}
{% endblock %}


