{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



{% include "header.html.twig" %}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">

    <h1>Mes avis</h1>

        {% for ligne in avis %}
        <div class="col-md-3 mt-3 border border-primary p-3 m-3">
            {# <a href= "{{app.request.uri ~ '/' ~ ligne.slug}}"><h2>{{ligne.title}}</h2></a>             #}
            <img src="{{'/' ~ ligne.jeu.image}}" alt="" width="150px" height="150px">
            <p> Commentaire : {{ligne.commentaire}} </p>
            <p> Note : {{ligne.note}} </p>
            {# <p> {{ligne.is_valid}} </p> #}
            <a href=" {{ path('avis.edit', {id: ligne.id}) }} " class="btn btn-info my-3">Modifier</a>
            <a href=" {{ path('avis.delete', {id: ligne.id}) }} " class="btn btn-info">Supprimer</a>
            <a href=" {{ path('add_favori', {slug: ligne.jeu.slug}) }} " class="btn btn-info mt-3">Ajouter au favori</a>
        </div>
        {% endfor %}

        <div class="navigation d-flex justify-content-center mt-3">
            {{ knp_pagination_render(avis) }}
        </div>
        
    </div>

    <hr>

    </div> <!-- /container -->


{% include "footer.html.twig" %}
{% endblock %}


