{% extends 'base.html.twig' %}

{% block title %}Create Avis{% endblock %}

{% block body %}

{% include "header.html.twig" %}

<div class="container">
<h1> Ajout d'un avis - Jeu :  {{ titleJeu }}</h1>

{#     <div class="col">
        {{ form_widget(form.jeu) }}
        <label for="">{{ form_label(form.jeu) }}</label>        
    </div> #}

<div class="row">
    <div class="col">
        <!-- Bouton Ajouter un favori : Lance un formulaire php : form_create.php -->
        <a class="btn btn-primary my-3" href=" {{path('avis')}} " role="button">Revenir à la liste des avis</a>
    </div>
</div>


{# {% for message in app.flashes('fail') %}
    <div class="alert alert-alert mt-3">
        {{ message }}
    </div>
{% else %} #}

{{ form_start(form) }}


{# {{ dump(form) }} #}

    <div class="form-group">
        {{ form_label(form.Commentaire) }}
        {{ form_widget(form.Commentaire) }}
        <div class="form-error alert">
            {{ form_errors(form.Commentaire) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.Note) }}
        {{ form_widget(form.Note) }}
        <div class="form-error alert">
            {{ form_errors(form.Note) }}
        </div>
    </div>

    <div class="form-group mt-3">
        {{ form_row(form.save) }}
    </div>

{{ form_end(form) }}

{# Le btn n'est plus pertinent. Parce que 'lutilisateur est obligé d'enregistrer et l'enregistrement le redirige vers sa liste des avis #}
{# <a href=" {{ path('favori', {id: slug}) }} " class="btn btn-info">Ajouter au favori</a> #}

</div>

{# {% endfor %} #}

{% endblock %}

