{% extends 'base.html.twig' %}

{% block title %}Create Avis{% endblock %}

{% block body %}

<div class="container">
<h1> Ajout d'un avis -Jeu :  {{ titleJeu }}</h1>

{#     <div class="col">
        {{ form_widget(form.jeu) }}
        <label for="">{{ form_label(form.jeu) }}</label>        
    </div> #}

<div class="row">
    <div class="col">
        <!-- Bouton Ajouter un favori : Lance un formulaire php : form_create.php -->
        <a class="btn btn-primary my-3" href=" {{path('avis')}} " role="button">Revenir à la liste des avis</a>
    </div>
</div>

{{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.Commentaire) }}
        {{ form_widget(form.Commentaire) }}
        <div class="form-error alert">
            {{ form_errors(form.Commentaire) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.Note) }}
        {{ form_widget(form.Note) }}
        <div class="form-error alert">
            {{ form_errors(form.Note) }}
        </div>
    </div>

    <div class="form-group mt-3">
        {{ form_row(form.save) }}
    </div>

{{ form_end(form) }}

<a href=" {{ path('app_favori', {id: ligne.jeu.slug}) }} " class="btn btn-info">Ajouter au favori</a>

</div>

{% endblock %}

