{% extends 'base.html.twig' %}

{% block title %}Create Avis{% endblock %}

{% block body %}

{% include "header.html.twig" %}

<div class="container">

<h1> Modification avis : {{ title}} </h1>

{# <div class="row">
    <div class="col">
        <!-- Bouton Ajouter un favori : Lance un formulaire php : form_create.php -->
        <a class="btn btn-primary mt-3" href=" {{path('avis')}} " role="button">Revenir à la liste des avis</a>
    </div>
</div> #}

{# pass a string argument to get only the messages of that type #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success mt-3">
        {{ message }}
    </div>
{% endfor %}

{# form(form) ou form_start form_end #}
{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.Commentaire) }}
        {{ form_widget(form.Commentaire) }}
        <div class="form-error alert">
            {{ form_errors(form.Commentaire) }}
        </div>
    </div>

{#     <div class="col">
        <label for="">{{ form_label(form.jeu) }}</label>        
        {{ form_widget(form.jeu) }}
    </div> #}

    <div class="form-group">
        {{ form_label(form.Note) }}
        {{ form_widget(form.Note) }}
        <div class="form-error alert">
            {{ form_errors(form.Note) }}
        </div>
    </div>

    <div class="form-group mt-3">
        {{ form_row(form.save) }}
    </div>

{{ form_end(form) }}


</div>

{% endblock %}

