{% extends 'base.html.twig' %}

{% block title %}Favori{% endblock %}

{% block body %}

{% include "header.html.twig" %}

<div class="container">

<div class="row">

    <h1>Mes favoris</h1>

    {# {{dump()}} #}

    {% if not dataPanier is same as ([]) %} 

    <table class="table" style="width:110%">
        <thead>
            <tr>
                <td>Titre</td>
                <td span="2">Description</td>
                <td>Image</td>
                <td>Lien Site officiel</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for element in dataPanier %} {# ici element correspond à la variable $jeu qui est une requête sur le repo (fournit dans le controller FavoriController) #}

                 <tr>
                    <th scope="row">{{ element.jeu.0.Title }}</td> {# Ici je dois rappeler la variable jeu et me facolise sur la clé 0, ensuite l'attribut souhaité; le titre en l'occurrence #}   
                    <td>{{ element.jeu.0.Description }}</td>
                    <td> <img src="{{'/' ~ element.jeu.0.Image}}" alt="" width="150px" height="150px"></td>
                    
                    <td> <a href="{{ element.jeu.0.Url }}"  target="_blank"> voir</a> </td>
                    <td>
                        <a href="{{path("delete_favori", {slug: element.jeu.0.slug})}}"class="btn btn-danger" title='delete'>
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr> 
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Aucun favori</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  {% else %} 
  <p> Vous n'avez aucun favori</p>
  {% endif %} 

</div>
</div>
{% endblock %}
